.app__waypoints__item {
  border-radius: 5px;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: flex;
  padding: 0.5rem;

  &:hover {
    background-color: wheat;
  }

  &__container {
    flex: 5 5 100%;
    padding: 0.5rem;
  }
}
