.app__waypoints__item {
  background-color: #64B5F6;
  border: 1px solid #1565C0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: flex;
  padding: 0.5rem;

  &:hover {
    background-color: #42A5F5;
  }

  &__button {
    color: white !important;
  }

  &__container {
    flex: 5 5 100%;
    padding: 0.5rem;
  }
}
