.app {
  background-color: #66CCFF;
  display: flex;
  height: 100%;
  overflow: hidden;

  &__left-pane {
    width: 25%;
    overflow-y: auto;
    border-right: 3px ridge #3399FF;
  }

  &__right-pane {
    width: 75%;
  }
}
