.app {
  background-color: #90CAF9;
  color: white;
  display: flex;
  height: 100%;
  overflow: hidden;

  &__left-pane {
    width: 25%;
    overflow-y: auto;
    border-right: 3px ridge #90CAF9;
  }

  &__right-pane {
    width: 75%;
  }
}
